@import '../scss/variable';

body {
  color: $color-black;
}

@media (min-width: 601px) {

  body {
      max-width: 414px;
      margin: 0 auto;
  }

  #root {
      max-width: 414px;
      margin: 0 auto;
  }

};