@import 'src/styles/app.scss';

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: 'Rubik', sans-serif !important;
  font-size: 14px;
  max-width: 414px;
  font-weight: 400;
  background: #fff;
  margin: 0 auto !important;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

html {
  height: 100% !important;
  background-color: rgb(247, 244, 244) !important;
}

:focus {
  outline: none;
}

button:focus {
  outline: 0 !important;
}