@import 'src/styles/app.scss';

$base-color: #c6538c;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif !important;
  font-size: 14px;
  max-width: 414px;
  font-weight: 400;
  background: #fff;
  margin: 0 auto !important;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  min-height: 100%;

}

html {
  height: 100%;
  // height: 100% !important;
  background-color: rgb(247, 244, 244) !important;
}

:focus {
  outline: none;
}

button:focus {
  outline: 0 !important;
}